.button-add-point-evaluationBoards-council{
    /* margin: 0 0 0 16px; */
}

.button-add-council{
}

.container-add{
    /* background-color: #3498db; */
    /* width: 500px;
    margin: 0 auto; */
}

.item{
    padding-bottom: 16px;
}

.item-title{
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.item-input{
    width: 97%;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #95a5a6;
    outline: none;
    font-size: 18px;
}

.council-content{
    height: 500px;
}

.council-name{
    display: flex;
    padding: 8px 0;
}

.council-name > .council-name-title{
    width: 150px;
    font-weight: bold;
}

.list-teacher-council{
    border-top: 1px solid #95a5a6;
    padding: 16px 0 16px 0;
    height: 100;
}

.list-teacher-council>.list-teacher-council-header{
    height: 50px;
    display: flex;
    align-items: center;
}

.list-teacher-council>.list-teacher-council-header>.list-teacher-council-header-title{
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

.list-teacher-council>.list-teacher-council-content{
    height: 310px;
    overflow: auto;
}

.list-teacher-council>.list-teacher-council-content>.list-teacher-council-content-list>.table-list{
    width: 100%;
}

.add-person-council{
    height: 500px;
    overflow: auto;
    padding: 16px 0;
}

.add-person-council>.table-list{
    margin-top: 16px;
    width: 100%;
}

.download-file-council{
    /* margin-bottom: 16px; */
    width: min-content;
    display: flex;
    margin: 0 0 16px auto;
}

.download-file-council .download-file-council-button{
}
